* {
    background-color:orangered;
    color: white;
    text-align:center;
}

h1 {
    background-color: black;
    padding: 20px;
    width: 60%;    
    margin: auto;
    margin-top: 20px;
}

h2 {
    color: black;
    background-color: gold;
    border-radius: 15px;
    padding: 15px;
    width: 40%;    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: orangered;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    width: 50%;    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    color: white;
    background-color: black;
    padding: 15px;
    width: 85%;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.img-full {
    width: 95%;    
}

.img-half {
    display: block;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.img-gallery {
    width:30%;
}

.img-icon {
    width: 8%;
}

.info {
    color: black;
    background-color: white;
    padding: 15px;
    width: 45%;    
    margin: auto;
    margin-top: 20px;
    text-align: justify;
}

.action-call {
    color:white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    border: 3px;
    border-style: dashed;
    border-color: black;
    width: 50%;
    margin: auto;
}
