
/*Universal*/
* {
    background-color:orangered;
    color: white;
    text-align:center;
}

h1 {
    background-color: black;
    padding: 20px;
    width: 60%;    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    color: black;
    background-color: gold;
    border-radius: 15px;
    padding: 15px;
    width: 40%;    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: orangered;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    width: 50%;    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    color: white;
    background-color: black;
    padding: 15px;
    width: 85%;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

/*Nav bar*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.nav-li {
    float: left;    
}

.nav-a {
    display: block;
    padding: 8px;
    background-color:gold;   
    color: black;  
    text-decoration: none;
}

.nav-a:hover {
    color: white;
}

.nav-active {
    color: white;
    background-color: black;
}

/*Pictures*/
.img-full {
    width: 95%;    
}

.img-half {
    display: block;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.img-gallery {
    width:30%;
}

.img-icon {
    width: 50px;
}

/*Text blocks*/
.info {
    color: black;
    background-color: white;
    padding: 15px;
    width: 45%;    
    margin: auto;
    margin-top: 20px;
    text-align: justify;
}

.action-call {
    color:white;
    text-shadow: 2px 2px 3px black;
    padding: 10px;
    border: 3px;
    border-style: dashed;
    border-color: black;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

/*Image gallery*/
div.gallery {
    background-color: white;
    border: 10px solid black; 
    float:left;
    margin-left: 18%;
    margin-top: 20px;

    width: 100px;
    height:80px;
}

div.gallery img {
    width: 100%;
    height: 100%;   
}

div.italy {
    background-color: white;
    border: 10px solid black; 
    float: left;
    margin-left: 8%;
    margin-top: 20px;
    width: 20%;
    height: auto;
}

div.italy img {
    width: 100%;
    height: 100%;   
}

.row {   
    margin-bottom: 250px;
}